{% load static %}


<footer>
    <div class="conteiner">
        <div class="footer_items">
            <ul>
                <li><img src="{% static "img/Logo.svg" %}" alt=""></li>
                <li><a href="">NFT marketplace UI created with Anima for Figma.</a> </li>
                <li><a href="">Join our community</a> </li>
                <li class='contakt'><a href=""><img src="{% static "img/DiscordLogo.svg" %}" alt=""></a>
                    <a href=""><img src="{% static "img/YoutubeLogo.svg" %}" alt=""></a>
                    <a href=""><img src="{% static "img/x.svg" %}" alt=""></a>
                    <a href=""><img src="{% static "img/InstagramLogo.svg" %}" alt=""></a>
                </li>
            </ul>
            <ul>
                <li>Explore</li>
                <li><a href="">Marketplace</a> </li>
                <li><a href="">Rankings</a> </li>
                <li><a href="">Connect a wallet</a> </li>
            </ul>
            <ul>
                <li>Join our weekly digest</li>
                <li> <a href="">Get exclusive promotions & updates straight to your inbox.</a> </li>
                <li>
                    <button>Enter your email here </button>
                    <button style='cursor: pointer;'>Subscribe</button>
                </li>
            </ul>
        </div>
    </div>
</footer>