{% load static %}

<header>
    <div class="conteiner_header">
        <div class="header_items">
            <div class="logo">
                <img src="{% static "img/Logo.svg" %}" alt="logo">
            </div>
            <div class="nav">
                <div class="burger_menu"><img src="{% static "img/BrMe.svg" %}" alt=""></div>
                <ul>
                    <li><a href="">Marketplace</a></li>
                    <li><a href="">Rankings</a></li>
                    <li><a href="">Connect a wallet</a></li>
                    <button style='cursor: pointer;'><img src="{% static "img/User.svg" %}" alt=""> Sign Up</button>
                </ul>
            </div>
        </div>
    </div>
</header>