{% load static %}


<nav>
    <div class="conteiner">
        <div class="nav_itrms">
            <div class="nav_left">
                <h1>Discover digital art & Collect NFTs</h1>
                <h5>NFT marketplace UI created with Anima for
                    Figma. Collect, buy and sell art from more 
                    than 20k NFT artists.</h5>
                <button>
                    <img src="{% static "img/RocketLaunch.svg" %}" alt="RocketLaunch">
                    Get Started
                </button>
                <div class="groop">
                    <span>
                        <h4>240+</h4>
                        <h5>Total Sale</h5>
                    </span>
                    <span>
                        <h4>100+</h4>
                        <h5>Auctions</h5>
                    </span>
                    <span>
                        <h4>240+</h4>
                        <h5>Artists</h5>
                    </span>
                </div>
            </div>
            <div class="nav_reght">
                <div class="blok">
                    <div class="blok_top">
                        <img src="{% static "img/ImagePlaceholder.png" %}" alt="Image Placeholder">
                    </div>
                    <div class="blok_bottom">
                        <h5>Space Walking</h5>
                        <div class="user">
                            <img src="{% static "img/AvatarPlaceholder.png" %}" alt="">
                            <p>Animakid</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>